/*color pallette https://www.canva.com/colors/color-palettes/buddhist-monk/  */

:root {
    --Gold: #FBDD00;
    --Tangerine: #E9A200;
    --Scarlet: #B32800;
    --Burgandy: #7F0000;
}

@Font-face {
    font-family: MANTHAN;
    src: url('fonts/Manthan-jEYYv.ttf');
    font-family: baband;
    src: url('fonts/Babang.ttf');
    font-family: magnolia;
    src: url('fonts/Magnolia-Grande-Regular.ttf');
}

.title {
    font-family: magnolia;
    /* font-size: xx-large; */
    color: var(--Tangerine);
    font-size: 70px;
    /* font-size: 15vw; */
}

.bg-burgandy {
    /* background-color: var(--Burgandy); */
}

body {
    --LinGrad: linear-gradient(-70deg, var(--Burgandy) 0%, var(--Scarlet) 100%);
    background-size: 4000%;
    background-image: var(--LinGrad);
    animation: gradCycle 10s ease-in infinite alternate-reverse;
}

.contact-stuff>img {
    border: 6px groove black;
    /* display: inline-block; */
    /* border: 6px groove var(--Gold); */
}


/*watch later:  https://www.youtube.com/watch?v=qKVDx2Haah4 */